In [30]:
import pandas as pd
import numpy as np
import re
import nltk
nltk.download('stopwords')
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\Soyash\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\wordnet.zip.

True

In [7]:
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
lm = WordNetLemmatizer()

In [18]:
sms = pd.read_csv('SMSSpamCollection', sep='\t', names=['label','message'])
sms.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
sms.shape

(5572, 2)

In [5]:
sms.isna().sum()

label      0
message    0
dtype: int64

In [27]:
sms['label'].replace('ham',0,inplace=True)
sms['label'].replace('spam',1,inplace=True)
sms.head()

   label                                            message
0      0  Go until jurong point, crazy.. Available only ...
1      0                      Ok lar... Joking wif u oni...
2      1  Free entry in 2 a wkly comp to win FA Cup fina...
3      0  U dun say so early hor... U c already then say...
4      0  Nah I don't think he goes to usf, he lives aro...

In [31]:
corpus = []
for i in range(0,len(sms)):
    message = re.sub('[^a-zA-Z]',' ',sms['message'][i])
    message = message.lower()
    message = message.split()
    
    message = [lm.lemmatize(word) for word in message if not word in stopwords.words('english')]
    message = ' '.join(message)
    corpus.append(message)

In [28]:
sms['message'][23]

'Aft i finish my lunch then i go str down lor. Ard 3 smth lor. U finish ur lunch already?'

In [37]:
corpus[23]

'aft finish lunch go str lor ard smth lor u finish ur lunch already'

In [39]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=2500)

In [43]:
X = cv.fit_transform(corpus).toarray()
y = sms['label'].values

In [45]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state = 0)

In [46]:
from sklearn.naive_bayes import MultinomialNB
spam_detect_model = MultinomialNB().fit(X_train, y_train)

In [47]:
y_pred=spam_detect_model.predict(X_test)

In [48]:
from sklearn.metrics import accuracy_score
score = accuracy_score(y_test,y_pred)
score

0.9829596412556054